.header__form {
  display: grid;
  grid-template-columns: 1fr 31px;
  column-gap: 12px;
  height: 55%;
  margin: auto 0;
}

/* @media screen and (max-width: 350px) {
  .header__form {
    width: 50vw;
  }
} */