.header__search-container {
  background-color: #d7d7d7;
  border-top: black 6px solid;
  border-bottom: black 6px solid;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 70px;
  column-gap: 12px;
  padding: 0 12px;
}

@media screen and (max-width: 350px) {
  .header__search-container {
    padding: 0;
  }
}