.header__button {
  padding: 0;
  margin: 0;
  background-image: url(../../../images/search.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-color: #d7d7d7;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
