.menu__button {
  background-image: url(../../../images/settings.png);
  background-position: center;
  background-color: black;
  background-size: contain;
  width: 29px;
  height: 29px;
  margin-left: 15px;
  margin-top: 1px;
  background-repeat: no-repeat;
}

.menu__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
